::-webkit-scrollbar {
  display: none;
}
.main-body {
  //background-image: url("../../assets/greensummer.jpg");
  background-image: url("../../assets/images/martin-shreder.jpg");
  background-position: center;
  //margin-top: 3.9rem;
}